<!DOCTYPE html>
<html>
<head>
  <title>Biblio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Biblio</a>
      <ul class="nav pull-right">
      <% if user_signed_in? %>
        <li><%= link_to "Add New Book", new_book_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
      <% end %>
      </ul>
    </div>
  </div>

<% if flash[:notice] %>
  <div class="alert"><%= notice %></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-error"><%= alert %></div>
<% end %>

<%= yield %>

</body>
</html>
